@inject AuthService Auth
@inject NavigationManager Nav

<div class="brand-row">
    <Brand Href="" />
    <div class="brand-tag">vulnerability SLA &amp; compliance</div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item">
                    <NavLink class="nav-link" href="dashboard">Posture</NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        </div>
    </nav>

    <div class="nav-foot">
        <AuthorizeView>
            <Authorized>
                <div class="nav-user">
                    <span class="nav-user-label">Signed in</span>
                    <span class="nav-user-name">@context.User.Identity?.Name</span>
                </div>
                <button class="nav-signout" @onclick="LogoutAsync">Sign out</button>
            </Authorized>
            <NotAuthorized>
                <NavLink class="nav-signin" href="login">Sign in</NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code {
    private async Task LogoutAsync()
    {
        await Auth.LogoutAsync();
        Nav.NavigateTo("");
    }
}
